@import "../UI/variables";

.navbar {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: all 0.5s ease-out;
    font-weight: 700;
    
    .navbar-brand {
      font-size: 1.5rem;
      transform: scale(1,0.8);

      @media #{$sm} {
        font-size: 2rem;
      }
      @media #{$md} {
        font-size: 2rem;
      }
      @media #{$lg} {
        font-size: 2rem;
      }
      @media #{$xl} {
        font-size: 2rem;
      }
      @media #{$xxl} {
        font-size: 2rem;
      }
    }
    .navbar-brand:hover {
      color: #db545a !important;
    }
    .nav-link {
      padding: 10px 20px !important;
      text-decoration: none;
    }
    .nav-link:hover {
      color: #db545a !important;
    }
    .navbar-collapse {
      justify-content: flex-end;
    }
  }
  