@import "../../variables";

.forecast {
  tr,
  td,
  th {
    color: black;
    text-transform: none;
    border: 3px solid #dedede;
    background: #fff;

    padding: 2px 5px;

    @media #{$sm} {
      padding: 1rem 2rem;
    }
    @media #{$md} {
      padding: 1rem 2rem;
    }
    @media #{$lg} {
      padding: 2rem 4rem;
    }
    @media #{$xl} {
      padding: 2rem 4rem;
    }
    @media #{$xxl} {
      padding: 2rem 4rem;
    }
  }

  th {
    font-weight: 700;
    font-size: 1.3rem;
  }
  td {
    font-weight: 500;
    font-size: 1rem;
  }
}
