@import "../../variables";

.mainPage {
  min-height: 100vh;

  img {
    height: 8rem;
    margin-top: 8rem;

    @media #{$sm} {
      height: 12rem;
      margin-top: 0;
    }
    @media #{$md} {
      height: 13rem;
      margin-top: 0;
    }
    @media #{$lg} {
      height: 16rem;
      margin-top: 0;
    }
    @media #{$xl} {
      height: 16rem;
      margin-top: 0;
    }
    @media #{$xxl} {
      height: 16rem;
      margin-top: 0;
    }
  }
}
