@import "../UI/variables";

.forecast {
  .headline {
    text-shadow: 5px 4px 5px #000;
    font-weight: 700;
    transform: scale(1, 0.9);
    text-align: center;
    margin-top: 10rem;
  }

  hr {
    border-top: 5px solid white;
    width: 250px;
    opacity: 1;
  }

  tr,
  td,
  th {
    text-align: center;
    color: black;
    text-transform: none;
    border: 3px solid #dedede;
    background: #fff;

    padding: 2px 5px;

    @media #{$sm} {
      padding: 1rem 2rem;
    }
    @media #{$md} {
      padding: 1rem 2rem;
    }
    @media #{$lg} {
      padding: 2rem 4rem;
    }
    @media #{$xl} {
      padding: 2rem 4rem;
    }
    @media #{$xxl} {
      padding: 2rem 4rem;
    }
  }

  th {
    font-weight: 700;
    font-size: 1.3rem;
  }
  td {
    font-weight: 500;
    font-size: 1rem;
  }

  .signature {
    font-size: 2rem;
    margin: 5rem auto;
    font-weight: 700;
    text-align: center;
  }
}
